/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -o-linear-gradient(top, white, black);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: linear-gradient(to bottom, white, black);
}

/* roboto-regular - latin_cyrillic */
:root {
    --weight500: 500;
    --weight700: 700;
    --color000: #000;
    --color333: #333;
    --colorgreen: #0A775F;
    --color-white: #fff;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: 1380px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-header>img {
    display: block;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list-item {
    list-style: none;
    margin: 0;
}

.nav-link {
    margin-right: 40px;
    font-weight: var(--weight700);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color333);
    text-decoration: none;
}

.nav-link-last {
    margin-right: 0;
}

.site-header-box {
    padding: 40px 0px;
}

.back-image {
    padding-top: 40px;
    background-image: url(../images/hero-back.jpg);
}

.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-img {
    position: relative;
    right: -2%;
    background-image: url(../images/intro-image.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% + 220px) calc(50%);
    background-size: contain;
    width: 710px;
    height: 696px;
    
}

.hero-main-img {
    position: relative;
    right: -17%;
    top: 0;
}

.hero-img::before {
    position: absolute;
    top: calc(-10%);
    left: calc(7%);
    z-index: 2;
    content: "";
    background-image: url(../images/intro-image-one.svg);
    background-size: contain;
    width: 160px;
    height: 160px;
}

.hero-info {
    width: 545px;
    padding-left: 84px;
    /* margin-right: 116px; */
}

.hero-main-text {
    margin: 0;
    margin-bottom: 24px;
    font-weight: var(--weight700);
    font-size: 64px;
    line-height: 75px;
    color: var(--color000);
}

.hero-text {
    margin: 0;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color000);
}

.hero-link {
    padding: 16px 24px;
    font-weight: var(--weight500);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--colorgreen);
    border-radius: 100px;
    text-decoration: none;
}



.collection-box {
    margin: 20px;
    padding: 50px 0px;
    background-image: url("../images/colloection-back.png");
    background-position: center;
    background-size: cover;
}

.collection-theme {
    margin: 0;
    margin-bottom: 80px;
    font-weight: var(--weight700);
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: var(--color000);
}

.collection-list {
    margin: 0;
    padding: 0;
}

.collection-list-item {
    position: relative;
    width: 1120px;
    margin: 0 auto;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}

.collection-list-item:nth-child(1) {
    position: relative;
}

.collection-list-item:nth-child(2n-1) {
    margin: 0 auto;
}

.collection-list-item:nth-child(2n-1) img {
    margin-right: 117px;
}

.collection-list-item:nth-child(even) .collection-images-info {
    margin-right: 117px;
}

.collection-list-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin: 0 auto;
}

.collection-list-item:nth-child(1)::before {
    position: absolute;
    top: -6%;
    left: -27%;
    width: 410px;
    height: 300px;
    background-image: url("../images/Vector.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.collection-list-item:nth-child(2)::after {
    position: absolute;
    bottom: -57%;
    right: -38%;
    width: 469px;
    height: 477px;
    background-image: url("../images/Vektor-1.svg");
    background-repeat: no-repeat;
    content: "";
}

.collection-list-item:nth-child(4)::before {
    position: absolute;
    top: -7%;
    left: -33%;
    content: "";
    background-image: url(../images/Vector-2.svg);
    background-repeat: no-repeat;
    width: 410px;
    height: 300px;
}

.collection-images-info {
    width: 453px;
}

.collection-images-info:nth-child(2) {
    width: 390px;
}

.collection-images-info:nth-child(3) {
    width: 390px;
}

.collection-list-item:nth-child(4) .collection-images-info {
    width: 410px;
}

.images-info-theme {
    margin: 0;
    margin-bottom: 10px;
    font-weight: var(--weight500);
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--color333);
}

.images-info-text {
    margin: 0;
    font-size: 22px;
    line-height: 34px;
    color: var(--color333);
}

.site-why-section {
    position: relative;
    margin: 0px 20px;
    margin-bottom: 285px;
    padding-top: 50px;
    padding-bottom: 500px;
    background-image: url(../images/why-background.jpg);
    background-position: center;
    background-size: cover;
    
}

.why-choose-info {
    margin-right: auto;
    margin-left: auto;
    width: 581px;
    text-align: center;
}

.why-theme {
    margin: 0;
    margin-bottom: 10px;
    font-weight: var(--weight700);
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.why-text {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: var(--color-white);
    mix-blend-mode: normal;
    opacity: 0.8;
}

.why-choose-list {
    position: absolute;
    top: 41%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
}

.why-choose-list-item {
    width: 433px;
    margin-right: 20px;
    list-style: none;
}

.why-choose-list-item:nth-child(1)::before {
    position: absolute;
    left: -5%;
    top: -10%;
    content: "";
    background-image: url(../images/why-logo.svg);
    display: block;
    width: 140px;
    height: 144px;
}

.why-choose-list-item:last-child {
    margin-right: 0;
}



.why-choose-img {
    margin-bottom: 28px;
}

.why-choose-info-box {
    position: absolute;
    width: 377px;
}

.why-choose-info-box-theme {
    margin: 0;
    font-weight: var(--weight500);
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: var(--color333);
}

.why-choose-info-box-text {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--color333);
}

.how {
    margin: 0px 20px;
    margin-bottom: 50px;
    padding: 50px 0px;
    background-image: url(../images/how-back.png);
}
.create-plan-how{
    margin-top: 20px;
    margin-bottom: 20px;
}

.how-theme {
    margin: 0;
    margin-bottom: 80px;
    font-weight: var(--weight700);
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}

.how-item-box {
    width: 959px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 3px dashed #C99B67;
}

.how-item-box-box {
    position: relative;
    top: 25px;
    width: 52px;
    height: 52px;
    background-color: var(--color-white);
    border: 4px solid #C99B67;
}

.how-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    padding: 0;
    padding-top: 20px;
    list-style: none;
}

.how-list::after {
    position: absolute;
    top: -50%;
    right: 5%;
    content: "";
    background-image: url(../images/how-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 192px;
    height: 149px;
}

.how-list-item {
    position: relative;
    margin-right: 20px;
    padding-top: 140px;
    padding-right: 28px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: #F8F8F2;
}

.how-list-item::before {
    position: absolute;
    top: 7%;
    right: 4%;
    content: "01";
    font-size: 64px;
    line-height: 75px;
    color: var(--color333);
    opacity: 0.8;
    
}

.how-list-item:nth-child(2)::before {
    content: "02";
}

.how-list-item:nth-child(3)::before {
    content: "03";
}

.how-list-item-box {
    width: 385px;
}

.how-list-item-theme-box {
    width: 231px;
}

.how-list-item-theme {
    margin: 0;
    margin-bottom: 10px;
    font-weight: var(--weight500);
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: var(--color333);
}

.how-list-item:nth-child(2) .how-list-item-theme-box {
    width: 241px;
}

.how-list-item-text {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--color333);
}

.how-link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.how-link {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 24px;
    font-weight: var(--weight500);
    font-size: 16px;
    text-align: center;
    line-height: 19px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 100px;
    color: var(--color-white);
    text-transform: uppercase;
    background-color: #C99B67;
}

.site-footer {
    padding: 65px 0px;
    background-image: url(../images/hero-back.jpg);
    background-size: cover;
}

.footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}

.footer-social-item {
    margin-right: 30px;
}

.footer-social-item:last-child {
    margin-right: 0;
}

.footer {
    font-size: 16px;
}



/*  */
.about-two{
    margin: 20px;
}
.our-commitment{
    padding-top: 160px;
    padding-bottom: 200px;
    background-image: url(../images/our-commitment-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-hero-info{
    width: 372px;
    padding-left: 0;
    padding-top: 156px;
    padding-bottom: 261px;
}
.about-section-two-image{
    margin-right: 144px;
    z-index: 2;
}
.about-section-two{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
}
.about-section-two-content{
    width: 745px;
}
.about-section-two-theme{
    margin-bottom: 24px;
}
.about-section-two::before{
    position: absolute;
    top: -18%;
    left: -13%;
    width: 410px;
    height: 300px;
    background-image: url("../images/Vector.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.about-three{
    margin: 20px;
    padding-top: 80px;
}
.quality-box{
    position: relative;
    margin-top: 90px;
    padding-top: 100px;
    padding-bottom: 118px;
    background-image: url(../images/why-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.quality-content{
    width: 636px;
}
.quality-content-theme{
    margin: 0;
    margin-bottom: 24px;
    font-weight: var(--weight700);
    font-size: 50px;
    line-height: 59px;
    text-transform: uppercase;
    color: var(--color-white);
}
.quality-content-text{
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}
.quality-content-box{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.quality-images{
    position: absolute;
    right: calc(0%);
    top: calc(-62%);
}
.quarters-section{
    margin: 20px;
    margin-bottom: 50px;
}
.quarters-box{
    
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(../images/how-back.png);
}
.quarters-theme{
    margin: 0;
    margin-bottom: 80px;
    font-weight: var(--weight700);
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
}
.quarters-list{
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
}
.quarters-list-item{
    position: relative;
    width: 433px;
    margin-right: 20px;
    padding-top: 140px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: #fff;
}
.second-country{
    padding-top: 187px;
}
.third{
    padding-top: 187px;
}
.countries::before{
    position: absolute;
    top: 8%;
    right: 8%;
    width: 120px;
    height: 143px;
    display: block;
    content: "";
    background-image: url(../images/united-kingdom.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.countries-canada::before{
    background-image: url(../images/canada.svg);
    width: 120px;
    height: 120px;
}
.countries-australia::before{
    background-image: url(../images/australia.svg);
    width: 120px;
    height: 107px;
}
.countries-names-list{
    width: 231px;
}
.countries-name{
    margin: 0;
    margin-bottom: 10px;
    font-weight: var(--weight500);
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #333333;
}
.countries-info-items{
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: var(--color333);
}


/* modal */
.modal{
    display: none;
    /* transform: translateY(-3000px); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 1s ease;
}
.modal-show{
    display: block;
}

.modal-content{
    position: relative;
    width: 561px;
    top: 30%;
    margin: 0 auto;
    padding-bottom: 50px;
    /* text-align: center; */
    background-color: #FFFFFF;
    animation-name: slidedown;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.modal-theme{
    margin: 0;  
    margin-bottom: 50px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 30px;
    font-weight: var(--weight700);
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: #C99B67;
}
.modal-text-box{
    padding: 0 30px;
}
.modal-text{
    margin: 0;
    margin-bottom: 10px;
    font-weight: var(--weight500);
    font-size: 24px;
    line-height: 34px;
    color: var(--color000);
}
.modal-text > span{
    color: #0A775F;
}
.modal-two-text{
    margin: 0;
    margin-bottom: 63px;
    font-size: 18px;
    line-height: 26px;
    color: var(--color333);
    opacity: 0.8;
}
.modal-under{
    display: flex;
    align-items: center;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.modal-cost{
    font-weight: var(--weight500);
    font-size: 24px;
    line-height: 28px;
    color: var(--color000);
}
.modal-link{
    padding: 16px 24px;
    font-weight: var(--weight500);
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    background-color: #0A775F;
    border-radius: 100px;
}
@keyframes slidedown {
    
    from{
        transform: translateY(-1000px);
    }
    
    to{
        transform: translateY(0);
    }
    
}
.questions-box{
    display: flex;
    justify-content: space-between;
}
.radio-question-box{
    height: 2005px;
    margin: 20px 20px;
    padding: 50px 0px;
    background-image: url(../images/our-commitment-back.png) ;
}
.question-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.question-list-item{
    margin-bottom: 35px;
    border-bottom: 3px dashed transparent;
}
.question-list-item:last-child{
    margin-bottom: 0;
}
form{
    width: 700px;
}
.question-list-item-link{
    font-weight: var(--weight500);
    font-size: 28px;
    line-height: 33px;
    color: #555;
    text-decoration: none;
}
.question-list-item-link:hover{
    color: #000;
    border-bottom: 3px dashed #C99B67;
}
.question-box-list-item{
    list-style: none;
}
.question-list-boxes{
    display: flex;
}
.question-list-box{
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}
.question-list-list{
    padding-top: 20px;
    padding-left: 16px;
    margin-right: 18px;
}
.question-top-box{
    margin-bottom: 20px;
    padding: 20px;
    display: block;
    background-color: #C6DCD1;
}
input:checked + .question-top-box{
    background-color: #0A775F;
}
input:checked + .question-top-box > .question-list-box{
    color: #fff;
}
input:checked + .question-top-box > .question-list-box-box{
    color: #fff;
}
summary{
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: var(--weight700);
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
}
input:checked > summary{
    margin-bottom: 10px;
}
summary::after{
    content: "";
    background-image: url(../images/next-icon.svg);
    background-repeat: no-repeat;
    background-position: calc(50%);
    width: 40px;
    height: 40px;
    /* display: block; */
}
.question-list-box-box{
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.result-form{
    margin-bottom: 20px;
    padding: 40px 20px;
    background-color: #C99B67;
}
.result-theme{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.resultat-info-text{
    font-weight: var(--weight500);
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}
.resultat-info-text span{
    color: var(--color333);
}

.form-button{
    margin-left: auto;
    display: flex;
    justify-content: end;
    padding: 16px 24px;
    font-weight: var(--weight500);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-white);
    
    background-color: #0A775F;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}